@import './imports/common.less';
@import './media-queries/devices.less';
@import './cards/mainCard.less';
.content-scrollbar {
    .mobile ( {
        // overflow: hidden !important;
    }
    );
}

.content-preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: white;
    z-index: 1000;
    opacity: 1;
    div {
        display: inline-block;
        top: 50%;
        left: calc(~'50% - 250px');
        .mobile ( {
            width: 200px;
            left: calc(~'50% - 100px');
        }
        );
        .desktop ( {
            left: calc(~'50% - 250px');
        }
        );
    }
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.content-preloader.complete {
    opacity: 0;
}

.mdl-snackbar {
    z-index: 1001;
    .mobile ( {
        width: calc(~'100% - 20px') !important;
        margin: 0px 10px;
        overflow: hidden;
    }
    );
    .mdl-snackbar__text {
        .mobile ( {
            padding: 5px 2px 5px 2px !important;
            width: calc(~'100% - 60px') !important;
            margin: 0px 10px;
        }
        );
    }
}

.page-content {
    // display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    .mobile ( {
        padding: 0px;
    }
    );
    .desktop ( {
        // padding: 10px;
    }
    );
    .masonry-grid {
        /*.desktop ({	
    		width: calc(~'100% / 330 * 4');
		});*/
        .mobile ( {
            padding: 0px;
        }
        );
        .desktop ( {
            padding: 10px;
        }
        );
    }
    .statistic-card {
        margin: 10px;
        display: inline-block;
        .mobile ( {
            width: calc(~'100% - 20px');
        }
        );
        /*.desktop ({	
			width: calc(~'(100% - 60px) / 3');
		});*/
        .card-information {
            .card-information-row {
                padding-top: 0px !important;
                padding-bottom: 0px !important;
            }
        }
    }
}