<!doctype html>
<html lang="en" style="height: 100%; width: 100%;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#F44336" />
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-amber.min.css" />
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
	<title>Donation</title>
</head>

<body style="margin: 0; height: inherit; width: inherit;">
	<div id="donation-page-target"></div>
	<!--<script src="donation.js"></script>-->
</body>

</html>